AudioRecorderAppSol/.idea/.idea.AudioRecorderAppSol/riderModule.iml
AudioRecorderAppSol/.idea/.idea.AudioRecorderAppSol/.idea/contentModel.xml
AudioRecorderAppSol/.idea/.idea.AudioRecorderAppSol/.idea/indexLayout.xml
AudioRecorderAppSol/.idea/.idea.AudioRecorderAppSol/.idea/misc.xml
AudioRecorderAppSol/.idea/.idea.AudioRecorderAppSol/.idea/modules.xml
AudioRecorderAppSol/.idea/.idea.AudioRecorderAppSol/.idea/workspace.xml
AudioRecorderAppSol/packages/LiteDB.4.1.4/.signature.p7s
AudioRecorderAppSol/packages/LiteDB.4.1.4/LiteDB.4.1.4.nupkg
AudioRecorderAppSol/packages/LiteDB.4.1.4/lib/net35/LiteDB.dll
AudioRecorderAppSol/packages/LiteDB.4.1.4/lib/net35/LiteDB.xml
AudioRecorderAppSol/packages/LiteDB.4.1.4/lib/net40/LiteDB.dll
AudioRecorderAppSol/packages/LiteDB.4.1.4/lib/net40/LiteDB.xml
AudioRecorderAppSol/packages/LiteDB.4.1.4/lib/netstandard1.3/LiteDB.dll
AudioRecorderAppSol/packages/LiteDB.4.1.4/lib/netstandard1.3/LiteDB.xml
AudioRecorderAppSol/packages/LiteDB.4.1.4/lib/netstandard2.0/LiteDB.dll
AudioRecorderAppSol/packages/LiteDB.4.1.4/lib/netstandard2.0/LiteDB.xml
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/.signature.p7s
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/System.Reactive.4.2.0-preview.566.nupkg
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/build/netcoreapp3.0/System.Reactive.dll
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/build/netcoreapp3.0/System.Reactive.targets
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/build/netcoreapp3.0/System.Reactive.xml
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/buildTransitive/netcoreapp3.0/System.Reactive.targets
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/net46/System.Reactive.dll
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/net46/System.Reactive.xml
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/netcoreapp3.0/_._
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/netstandard2.0/System.Reactive.dll
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/netstandard2.0/System.Reactive.xml
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/uap10.0/System.Reactive.dll
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/uap10.0/System.Reactive.pri
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/uap10.0/System.Reactive.xml
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/uap10.0.16299/System.Reactive.dll
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/uap10.0.16299/System.Reactive.pri
AudioRecorderAppSol/packages/System.Reactive.4.2.0-preview.566/lib/uap10.0.16299/System.Reactive.xml
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/.signature.p7s
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/LICENSE.TXT
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/System.Runtime.CompilerServices.Unsafe.4.5.2.nupkg
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/THIRD-PARTY-NOTICES.TXT
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/useSharedDesignerContext.txt
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/version.txt
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.dll
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netcoreapp2.0/System.Runtime.CompilerServices.Unsafe.xml
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/lib/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.dll
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard1.0/System.Runtime.CompilerServices.Unsafe.xml
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.dll
AudioRecorderAppSol/packages/System.Runtime.CompilerServices.Unsafe.4.5.2/ref/netstandard2.0/System.Runtime.CompilerServices.Unsafe.xml
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/.signature.p7s
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/LICENSE.TXT
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/System.Threading.Tasks.Extensions.4.5.2.nupkg
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/THIRD-PARTY-NOTICES.TXT
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/useSharedDesignerContext.txt
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/version.txt
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/MonoAndroid10/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/MonoTouch10/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netcoreapp2.1/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard1.0/System.Threading.Tasks.Extensions.dll
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard1.0/System.Threading.Tasks.Extensions.xml
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard2.0/System.Threading.Tasks.Extensions.dll
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/netstandard2.0/System.Threading.Tasks.Extensions.xml
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.dll
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/portable-net45+win8+wp8+wpa81/System.Threading.Tasks.Extensions.xml
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/xamarinios10/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/xamarinmac20/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/xamarintvos10/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/lib/xamarinwatchos10/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/ref/MonoAndroid10/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/ref/MonoTouch10/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/ref/netcoreapp2.1/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/ref/xamarinios10/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/ref/xamarinmac20/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/ref/xamarintvos10/_._
AudioRecorderAppSol/packages/System.Threading.Tasks.Extensions.4.5.2/ref/xamarinwatchos10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/.signature.p7s
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/LICENSE.TXT
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/System.ValueTuple.4.5.0.nupkg
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/useSharedDesignerContext.txt
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/version.txt
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/MonoAndroid10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/MonoTouch10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.dll
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/net461/System.ValueTuple.xml
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.dll
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/net47/System.ValueTuple.xml
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/netcoreapp2.0/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.dll
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/netstandard1.0/System.ValueTuple.xml
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/netstandard2.0/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/portable-net40+sl4+win8+wp8/System.ValueTuple.xml
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/uap10.0.16299/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/xamarinios10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/xamarinmac20/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/xamarintvos10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/lib/xamarinwatchos10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/MonoAndroid10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/MonoTouch10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/net461/System.ValueTuple.dll
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/net47/System.ValueTuple.dll
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/netcoreapp2.0/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/netstandard2.0/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/portable-net40+sl4+win8+wp8/System.ValueTuple.dll
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/uap10.0.16299/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/xamarinios10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/xamarinmac20/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/xamarintvos10/_._
AudioRecorderAppSol/packages/System.ValueTuple.4.5.0/ref/xamarinwatchos10/_._
AudioRecorderAppSol/AudioRecorderAppSol.sln.DotSettings.user
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/AudioRecorderApp.exe
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/AudioRecorderApp.pdb
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/BasicWebServerLib.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/BasicWebServerLib.pdb
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/LiteDB.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/LiteDB.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/Newtonsoft.Json.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/Newtonsoft.Json.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/System.Reactive.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/System.Reactive.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/System.Threading.Tasks.Extensions.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/System.Threading.Tasks.Extensions.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/System.ValueTuple.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Debug/System.ValueTuple.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Release/AudioRecorderApp.exe
AudioRecorderAppSol/AudioRecorderApp/bin/Release/AudioRecorderApp.pdb
AudioRecorderAppSol/AudioRecorderApp/bin/Release/BasicWebServerLib.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Release/BasicWebServerLib.pdb
AudioRecorderAppSol/AudioRecorderApp/bin/Release/LiteDB.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Release/LiteDB.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Release/Newtonsoft.Json.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Release/Newtonsoft.Json.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Release/System.Reactive.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Release/System.Reactive.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Release/System.Runtime.CompilerServices.Unsafe.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Release/System.Runtime.CompilerServices.Unsafe.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Release/System.Threading.Tasks.Extensions.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Release/System.Threading.Tasks.Extensions.xml
AudioRecorderAppSol/AudioRecorderApp/bin/Release/System.ValueTuple.dll
AudioRecorderAppSol/AudioRecorderApp/bin/Release/System.ValueTuple.xml
AudioRecorderAppSol/AudioRecorderApp/obj/Debug/AudioRecorderApp.csproj.CopyComplete
AudioRecorderAppSol/AudioRecorderApp/obj/Debug/AudioRecorderApp.csproj.CoreCompileInputs.cache
AudioRecorderAppSol/AudioRecorderApp/obj/Debug/AudioRecorderApp.csproj.FileListAbsolute.txt
AudioRecorderAppSol/AudioRecorderApp/obj/Debug/AudioRecorderApp.csprojAssemblyReference.cache
AudioRecorderAppSol/AudioRecorderApp/obj/Debug/AudioRecorderApp.exe
AudioRecorderAppSol/AudioRecorderApp/obj/Debug/AudioRecorderApp.pdb
AudioRecorderAppSol/AudioRecorderApp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AudioRecorderAppSol/AudioRecorderApp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AudioRecorderAppSol/AudioRecorderApp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
AudioRecorderAppSol/AudioRecorderApp/obj/Release/AudioRecorderApp.csproj.CopyComplete
AudioRecorderAppSol/AudioRecorderApp/obj/Release/AudioRecorderApp.csproj.CoreCompileInputs.cache
AudioRecorderAppSol/AudioRecorderApp/obj/Release/AudioRecorderApp.csproj.FileListAbsolute.txt
AudioRecorderAppSol/AudioRecorderApp/obj/Release/AudioRecorderApp.csprojAssemblyReference.cache
AudioRecorderAppSol/AudioRecorderApp/obj/Release/AudioRecorderApp.exe
AudioRecorderAppSol/AudioRecorderApp/obj/Release/AudioRecorderApp.pdb
AudioRecorderAppSol/AudioRecorderApp/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
AudioRecorderAppSol/AudioRecorderApp/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
AudioRecorderAppSol/AudioRecorderApp/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
